apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "rancher_url": "https://rancher/v2",
      "racher_token": "ABCDEFGH"
    }
